<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="overflow-visible h-24 h- ...">Lorem ipsum dolor sit amet...</div>

    <div class="overflow-auto h-32 ...">Lorem ipsum dolor sit amet...</div>

    <div class="overflow-hidden h-32 ...">Lorem ipsum dolor sit amet...</div>

    <div class="overflow-x-auto ...">QrLmmW69vMQD...</div>

    <div class="overflow-x-scroll ...">QrLmmW69vMQD...</div>

    <div class="overflow-y-auto h-32 ...">Lorem ipsum dolor sit amet...</div>

    <div class="overflow-y-scroll h-32 ...">Lorem ipsum dolor sit amet...</div>

    <div class="overflow-scroll h-32 ...">Lorem ipsum dolor sit amet...</div>
</body>
</html>