<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="static ...">
        <p>Static parent</p>
        <div class="absolute bottom-0 left-0 ...">
            <p>Absolute child</p>
        </div>
    </div>

    <div class="relative ...">
        <p>Static parent</p>
        <div class="absolute bottom-0 left-0 ...">
            <p>Absolute child</p>
        </div>
    </div>

    <div class="static ...">
        <!-- Static parent -->
        <div class="static ..."><p>Static child</p></div>
        <div class="inline-block ..."><p>Static sibling</p></div>
        <!-- Static parent -->
        <div class="absolute ..."><p>Absolute child</p></div>
        <div class="inline-block ..."><p>Static sibling</p></div>
    </div>

    <div>
        <div class="fixed ...">
          Fixed child
        </div>
      
        Scroll me!
      
        Lorem ipsum...
    </div>

    <div>
        <div class="sticky top-0 ...">Sticky Heading 1</div>
        <p class="py-4">Quisque cursus...</p>
    </div>
    <div>
        <div class="sticky top-0 ...">Sticky Heading 2</div>
        <p class="py-4">Integer lacinia...</p>
    </div>
    <div>
        <div class="sticky top-0 ...">Sticky Heading 3</div>
        <p class="py-4">Nullam mauris...</p>
    </div>
    <!-- etc. -->
</body>
</html>